<%= render 'form', cat: @cat, type: :edit %>


<!-- <h1> Edit a cat here </h1>


<form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">


  <label for="name"> Cat Name </label>
  <input id="name" type="text" name="cat[name]" value="<%=@cat.name %>">

<br>
<br>

  <label for="sex"> Sex </label>

  <br>
    <label for="M"> Male</label>
    <input id="M" name="cat[sex]" type="radio" value="M" />

    <label for="F">Female</label>
    <input id="F" name="cat[sex]" type="radio" value="F" />


<br>
<br>

<label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected> Please select a color </option>
    <option value="white"> White </option>
    <option value="black"> Black </option>
    <option value="tabby"> Tabby </option>
    <option value="orange"> Orange </option>


  </select>

<br>
<br>

  <label for="date"> Birth Date </label>
  <input id="date" type="date" name="cat[birth_date]">


<br>
<br>

<label for="desc"> Description </label>
<textarea id="desc" name='cat[description]'> Enter a description! </textarea>


<br>
<br>

<input type="submit" value="Edit your cat!">

</form> -->
